<agm-map [latitude]="lat" [longitude]="long">
  <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
</agm-map>



<!-- <iframe 
  width="700" 
  height="500" 
  frameborder="0" 
  scrolling="no" 
  marginheight="0" 
  marginwidth="0" 
  [src]="src|safe"
 >
 </iframe>
 <br />
 <small>
   <a 
    [href]="href|safe" 
    style="color:#0000FF;text-align:left" 
    target="_blank"
   >
     See map bigger
   </a>
 </small> -->
 
 <!-- <iframe
  width="700" 
  height="500" 
  frameborder="0" 
  scrolling="no" 
  marginheight="0" 
  marginwidth="0" 
  [src]='https://maps.google.com/maps?q='+long | safe+','+lat | safe+'&hl=es;z=14&amp;output=embed' >
 </iframe>
 <br />
 <small>
   <a 
    [href]='https://maps.google.com/maps?q='+long | safe+','+lat | safe+'&hl=es;z=14&amp;output=embed'
    style="color:#0000FF;text-align:left" 
    target="_blank"
   >
     See map bigger
   </a>
 </small> -->